files/svg.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 <xs:element name="svg">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="style" minOccurs="0" maxOccurs="1"/>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
     <xs:element ref="circle"/>
     <xs:element ref="path"/>
     <xs:element ref="g"/>
    </xs:choice>
   </xs:sequence>
  </xs:complexType>
  <xs:conplexContent ref="StyleAttrs">
   <xs:attribute name="width" type="xs:string" use="required"/>
   <xs:attribute name="height" type="xs:string" use="required"/>
  </xs:conplexContent>
 </xs:element>
 <xs:element name="g">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="style" minOccurs="0" maxOccurs="1"/>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
     <xs:element ref="circle"/>
     <xs:element ref="path"/>
     <xs:element ref="g"/>
     <xs:element ref="animate"/>
     <xs:element ref="animateTransform"/>
    </xs:choice>
   </xs:sequence>
   <xs:attribute name="transform" type="xs:string"/>
  </xs:complexType>
 </xs:element>
 <xs:complexType name="StyleAttrs">
  <xs:attribute name="class" type="xs:string"/>
  <xs:attribute name="fill" type="xs:string"/>
  <xs:attribute name="stroke" type="xs:string"/>
  <xs:attribute name="stroke-width" type="xs:string"/>
  <xs:attribute name="stroke-linecap" type="xs:string"/>
  <xs:attribute name="stroke-linejoin" type="xs:string"/>
  <xs:attribute name="opacity" type="xs:string"/>
 </xs:complexType>
 <xs:element name="style"/>
 <xs:element name="animate">
  <xs:complexType>
   <xs:attribute name="attributeName" type="xs:string" use="required"/>
   <xs:attribute name="values" type="xs:string" use="required"/>
   <xs:attribute name="dur" type="xs:string" use="required"/>
   <xs:attribute name="repeatCount" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="animateTransform">
  <xs:complexType>
   <xs:attribute name="attributeName" type="xs:string" fixed="transform" use="required"/>
   <xs:attribute name="type" type="xs:string" fixed="xml" use="required"/>
   <xs:attribute name="values" type="xs:string" use="required"/>
   <xs:attribute name="dur" type="xs:string" use="required"/>
   <xs:attribute name="repeatCount" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="circle">
  <xs:complexType>
   <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element ref="animate"/>
    <xs:element ref="animateTransform"/>
   </xs:choice>
  </xs:complexType>
  <xs:conplexContent ref="StyleAttrs">
   <xs:attribute name="cx" type="xs:string"/>
   <xs:attribute name="cy" type="xs:string"/>
   <xs:attribute name="r" type="xs:string" use="required"/>
  </xs:conplexContent>
 </xs:element>
 <xs:element name="path">
  <xs:complexType>
   <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element ref="animate"/>
    <xs:element ref="animateTransform"/>
   </xs:choice>
  </xs:complexType>
  <xs:conplexContent ref="StyleAttrs">
   <xs:attribute name="d" type="xs:string" use="required"/>
  </xs:conplexContent>
 </xs:element>
</xs:schema>