files/svg.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 <xs:attributeGroup name="动画属性组">
  <xs:attribute name="dur" type="xs:string"/>
  <xs:attribute name="repeatCount" type="xs:string" fixed="indefinite"/>
  <xs:attribute name="values" type="xs:string"/>
 </xs:attributeGroup>
 <xs:attributeGroup name="组属性组">
  <xs:attributeGroup ref="样式属性组"/>
  <xs:attributeGroup ref="变换属性组"/>
 </xs:attributeGroup>
 <xs:attributeGroup name="根属性组">
  <xs:attribute name="height" type="xs:string"/>
  <xs:attribute name="viewBox" type="xs:string"/>
  <xs:attribute name="width" type="xs:string"/>
 </xs:attributeGroup>
 <xs:attributeGroup name="样式属性组">
  <xs:attribute name="class" type="xs:string"/>
  <xs:attribute name="fill" type="xs:string"/>
  <xs:attribute name="opacity" type="xs:string"/>
  <xs:attribute name="stroke" type="xs:string"/>
  <xs:attribute name="stroke-linecap" type="xs:string"/>
  <xs:attribute name="stroke-linejoin" type="xs:string"/>
  <xs:attribute name="stroke-width" type="xs:string"/>
  <xs:attribute name="style" type="xs:string"/>
 </xs:attributeGroup>
 <xs:attributeGroup name="变换属性组">
  <xs:attribute name="transform" type="xs:string"/>
 </xs:attributeGroup>
 <xs:complexType name="变换动画类型">
  <xs:attribute name="attributeName" type="xs:string" fixed="transform"/>
  <xs:attribute name="type" type="xs:string" fixed="xml"/>
  <xs:attributeGroup ref="动画属性组"/>
 </xs:complexType>
 <xs:complexType name="动画类型">
  <xs:attribute name="attributeName" type="xs:string" use="required"/>
  <xs:attributeGroup ref="动画属性组"/>
 </xs:complexType>
 <xs:complexType name="圆形类型">
  <xs:group maxOccurs="unbounded" minOccurs="0" ref="动画选择组"/>
  <xs:attributeGroup ref="组属性组"/>
  <xs:attribute name="cx" type="xs:string"/>
  <xs:attribute name="cy" type="xs:string"/>
  <xs:attribute name="r" type="xs:string" use="required"/>
 </xs:complexType>
 <xs:complexType name="组类型">
  <xs:attributeGroup ref="组属性组"/>
  <xs:group ref="组序列"/>
 </xs:complexType>
 <xs:complexType name="路径类型">
  <xs:group maxOccurs="unbounded" minOccurs="0" ref="动画选择组"/>
  <xs:attributeGroup ref="组属性组"/>
  <xs:attribute name="d" type="xs:string" use="required"/>
 </xs:complexType>
 <xs:complexType name="根类型">
  <xs:attributeGroup ref="组属性组"/>
  <xs:attributeGroup ref="根属性组"/>
  <xs:group ref="组序列"/>
 </xs:complexType>
 <xs:complexType name="样式类型" mixed="true"/>
 <xs:element name="svg" type="根类型"/>
 <xs:group name="动画选择组">
  <xs:choice>
   <xs:element name="animate" type="动画类型"/>
   <xs:element name="animateTransform" type="变换动画类型"/>
  </xs:choice>
 </xs:group>
 <xs:group name="可绘制选择组">
  <xs:choice>
   <xs:element name="circle" type="圆形类型"/>
   <xs:element name="g" type="组类型"/>
   <xs:element name="path" type="路径类型"/>
  </xs:choice>
 </xs:group>
 <xs:group name="组序列">
  <xs:sequence>
   <xs:element maxOccurs="1" minOccurs="0" name="style" type="样式类型"/>
   <xs:group maxOccurs="unbounded" minOccurs="0" ref="可绘制选择组"/>
  </xs:sequence>
 </xs:group>
</xs:schema>