files/svg.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 <xs:complexType name="AnimateTransformType">
  <xs:attribute name="attributeName" type="xs:string" fixed="transform" use="required"/>
  <xs:attribute name="dur" type="xs:string" use="required"/>
  <xs:attribute name="repeatCount" type="xs:string" fixed="indefinite" use="required"/>
  <xs:attribute name="type" type="xs:string" fixed="xml" use="required"/>
  <xs:attribute name="values" type="xs:string" use="required"/>
 </xs:complexType>
 <xs:complexType name="AnimateType">
  <xs:attribute name="attributeName" type="xs:string" use="required"/>
  <xs:attribute name="dur" type="xs:string" use="required"/>
  <xs:attribute name="repeatCount" type="xs:string" fixed="indefinite" use="required"/>
  <xs:attribute name="values" type="xs:string" use="required"/>
 </xs:complexType>
 <xs:complexType name="CircleType">
  <xs:attribute name="class" type="xs:string"/>
  <xs:attribute name="cx" type="xs:string"/>
  <xs:attribute name="cy" type="xs:string"/>
  <xs:attribute name="fill" type="xs:string"/>
  <xs:attribute name="opacity" type="xs:string"/>
  <xs:attribute name="r" type="xs:string"/>
  <xs:attribute name="stroke" type="xs:string"/>
  <xs:attribute name="stroke-linecap" type="xs:string"/>
  <xs:attribute name="stroke-linejoin" type="xs:string"/>
  <xs:attribute name="stroke-width" type="xs:string"/>
  <xs:attribute name="style" type="xs:string"/>
  <xs:attribute name="transform" type="xs:string"/>
  <xs:choice maxOccurs="unbounded" minOccurs="0">
   <xs:element name="animate" type="AnimateType"/>
   <xs:element name="animateTransform" type="AnimateTransformType"/>
  </xs:choice>
 </xs:complexType>
 <xs:complexType name="GroupType">
  <xs:attribute name="class" type="xs:string"/>
  <xs:attribute name="fill" type="xs:string"/>
  <xs:attribute name="opacity" type="xs:string"/>
  <xs:attribute name="stroke" type="xs:string"/>
  <xs:attribute name="stroke-linecap" type="xs:string"/>
  <xs:attribute name="stroke-linejoin" type="xs:string"/>
  <xs:attribute name="stroke-width" type="xs:string"/>
  <xs:attribute name="style" type="xs:string"/>
  <xs:attribute name="transform" type="xs:string"/>
  <xs:sequence>
   <xs:choice maxOccurs="unbounded" minOccurs="0">
    <xs:element name="circle" type="CircleType"/>
    <xs:element name="g"/>
    <xs:element name="path" type="PathType"/>
   </xs:choice>
   <xs:element maxOccurs="1" minOccurs="0" name="style" type="StyleType"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="PathType">
  <xs:group maxOccurs="unbounded" minOccurs="0" ref="AnimationChoice"/>
  <xs:attribute name="class" type="xs:string"/>
  <xs:attribute name="d" type="xs:string" use="required"/>
  <xs:attribute name="fill" type="xs:string"/>
  <xs:attribute name="opacity" type="xs:string"/>
  <xs:attribute name="stroke" type="xs:string"/>
  <xs:attribute name="stroke-linecap" type="xs:string"/>
  <xs:attribute name="stroke-linejoin" type="xs:string"/>
  <xs:attribute name="stroke-width" type="xs:string"/>
  <xs:attribute name="style" type="xs:string"/>
  <xs:attribute name="transform" type="xs:string"/>
 </xs:complexType>
 <xs:complexType name="RootType">
  <xs:attribute name="class" type="xs:string"/>
  <xs:attribute name="fill" type="xs:string"/>
  <xs:attribute name="height" type="xs:string" use="required"/>
  <xs:attribute name="opacity" type="xs:string"/>
  <xs:attribute name="stroke" type="xs:string"/>
  <xs:attribute name="stroke-linecap" type="xs:string"/>
  <xs:attribute name="stroke-linejoin" type="xs:string"/>
  <xs:attribute name="stroke-width" type="xs:string"/>
  <xs:attribute name="style" type="xs:string"/>
  <xs:attribute name="transform" type="xs:string"/>
  <xs:attribute name="width" type="xs:string" use="required"/>
  <xs:sequence>
   <xs:choice maxOccurs="unbounded" minOccurs="0">
    <xs:element name="circle" type="CircleType"/>
    <xs:element name="g" type="GroupType"/>
    <xs:element name="path" type="PathType"/>
   </xs:choice>
   <xs:element maxOccurs="1" minOccurs="0" name="style" type="StyleType"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="StyleType" mixed="true"/>
 <xs:element name="svg" type="RootType"/>
</xs:schema>